/* Main section for the login and register page */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.main-logreg {
    background-color: var(--light-blue-color);
    padding: 20px;
    max-width: 95%;
    min-width: 360px;
    border-radius: 20px;
    text-align: center;
    align-self: center;
}

/* Login and Register form*/
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

/* Text label/input fields*/
label {
    text-align: left;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 auto;
}

/* Button container */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin: auto;
}

/* Button */
#submit-button {
    width: 50%;
    background: var(--light-green-color);
    color: white;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}

#submit-button:hover {
    background: var(--dark-green-color);
}

form a {
    width: 50%;
    color: black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}

/* Error message*/
.error {
    color: red;
    font-size: 12px;
}