/* Main section for the profile page*/
.main-profile {
    background-color: var(--fifth-color);
    padding: 20px;
    margin: 95px auto; 
    width: 95%; 
    max-width: 1500px; 
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    text-align: center; 
}

/* Container for the three boxes */
.profile-sections {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 0 20px;
}

/* Individual boxes */
.profile-box {
    background-color: var(--fourth-color);
    height: 600px; 
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.profile-box:first-child,
.profile-box:nth-child(2) {
    flex: 0 0 25%;
}

.profile-box:nth-child(3) {
    flex: 0 0 50%;
}