//- This is the most default file used by almost all pug files, this gives the basic header and some simple code to dynamically load scripts and styles.

//- This block allows extending files to define variables that can be used in the entire pug file
block vars
  - var styles = []
  - var scripts = []

//- 
  this allows simple generalization for relative links, which is needed for our website to work locally and on the server.
  The path depth is defined in the most outer extending file that knows the length of its address (/ = 0, /user/profile = 2, /user/profile/20 = 3)
- var base = "./" + "../".repeat(Math.max(0, pathDepth - 1));

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description", content="A website with a social network, message with your friends.")
    title=title

    link(rel="stylesheet", href=(base + "stylesheets/styles.css"))

    each style in styles
      link(rel="stylesheet", href=(base + "stylesheets/" + style + ".css"))

    each script in scripts
      script(src=(base + "javascripts/" + script + ".js"))

    block head
  block body
    body