block vars
  - var styles = []
  - var scripts = []

  - var base = "./" + "../".repeat(Math.max(0, pathDepth - 1));
  //- - var base = "/";

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description", content="A website with a social network, message with your friends.")
    title=title

    link(rel="stylesheet", href="/stylesheets/styles.css")

    each style in styles
      link(rel="stylesheet", href="/stylesheets/" + style + ".css")

    each script in scripts
      script(src="/javascripts/" + script + ".js")

    block head
  block body
    body