nav.header-nav
  ul
    li: a.nav-link(href="/messages") Messages
    li: a.nav-link(href="/courses") Courses

div.profile-picture
  a(href="/profile")
    img(src="../images/blank-profile.jpg" alt="My Profile Picture")