extends defaultUser

block append vars
  - var title = "Courses"
  - styles.push("user/courses")
  - var navSelected = "courses"
  - var pathDepth = 2;

block main
  header
    a(href="/") Home
    img.profile-pic(src="/path/to/profile-pic.jpg" alt="Profile" onclick="goToProfile()")
  
  main.course-list
    if courses && courses.length > 0
      each course in courses
        a.course-item(href="/courses/" + course.courseID)
          h3= course.name
          p= course.description
    else
      p No courses available.

  script.
    function goToProfile() {
      window.location.href = '/profile';
    }
