extends defaultUser

block append vars
  - var title = "Courses"
  - styles.push("user/courses")
  - var navSelected = "courses"
  - var pathDepth = 2;

block main
  main.course-list
    if courses && courses.length > 0
      each course in courses
        a.course-item(href="/courses/" + course.courseID)
          h3= course.name
          p= course.description
    else
      p No courses available.