extends defaultUser

block append vars
  - var title = "Friends"
  - var pathDepth = 3;
  - styles.push("user/friends")
  - var navSelected = "friends"

block main
  main.main-friends
    .friends-container
      each friend in friends
        a(href=("profile/" + friend.id)).friend-banner.content-wrapper
          img.friend-banner__avatar(src=(friend.photoLink && base + friend.photoLink.substring(1)) || "../images/blank-profile.jpg" alt="Avatar" class="avatar-img")
          p.friend-banner__name=friend.name
          button.friend-banner__unfriend.default-button(studentId=friend.id) Unfriend
      
      script(src=(base + "javascripts/removeFriend.js"))
    