extends ../header

block navItems
  +navItem("messages", "user/messages", "Messages")
  +navItem("courses", "user/courses", "Courses")
  +navItem("friends", "user/friends", "Friends")

block headerBody
  div.profile-picture
    a(href=(base + "user/profile"))
      img(src=parseUserImageLink(user.photoLink) alt="My Profile Picture")