extends defaultUser

block append vars
  - var title = "Messages"
  - styles.push("user/messages")
  - var navSelected = "messages"

include messageMixin
include chatMixin

block main
  main.main-messages
    div
      section.chats
        .chats__container
          //- all chats
          ul
            each chat in chats
              +chat(chat)
      
        .chats__create
          form#create-chat-form
            label(for="chatName") Chat name:
            input.chats__create__name(type="text", id="chatName")
            p Select chat members:
            ul.chats__members
              each friend in friends 
                li
                  label.content-button(for="friend"+friend.studentId)
                    input.chats__member(type="checkbox", id="friend"+friend.studentId, studentId=friend.studentId)
                    p=friend.name
            hr
            input#confirm-create-chat.default-button(type="submit", value="Confirm")

        .chats__button-wrapper
          button#add-chat-button.default-button ✚ Create chat.

        script(src="/javascripts/createChat.js")

      block chatbox