extends messages 

block append vars
  - var pathDepth = 3;

block chatbox
  section.chatbox
    .chatbox__topbar
      div: button.toggle-chats.default-button Show Chats
      h1=chatName
      div

    .chatbox__container
      each message in messages 
        +message(message.name, message.content, message.time, message.studentId != userId)
      else
        p Send your first message!
    
    form#message-form.chatbox__message-form(method = "post", autocomplete="off")
      input#message-box(type="text", placeholder="type message...")
      input.default-button(type="submit", value="➤ Send")
    
    script(src=(base + "javascripts/chatbox.js"))