extends defaultUser

block append vars
  - var title = "Messages"
  - styles.push("user/messages")
  - var navSelected = "messages"

include messageMixin

block main
  main.main-messages
    div
      section.friends

      section.chatbox
        .chatbox__container
          - for (let i = 0; i < 6; i++)
            +message("person nosrep", "Lorem Ipsum is simply dummy text of the printing and typesetting industry.", "12:34", false)
            +message("person nosrep", "Lorem Ipsum is simply dummy text of", "12:34", true)
            +message("person nosrep", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.", "12:34", true)
        
        form#message-form.chatbox__message-form(method = "post", autocomplete="off")
          input#message-box(type="text", placeholder="type message...")
          input(type="submit", value="➤ Send")
        
        script(src="/javascripts/chatbox.js")