extends defaultUser

block append vars
  - var title = "Messages"
  - styles.push("user/messages")
  - var navSelected = "messages"

include messageMixin

block main
  main.main-messages
    div
      section.friends

      section.chatbox
        .chatbox__container
          each message in messages 
            +message(message.name, message.content, message.time, message.studentId != userId)
          else
            p Send your first message!
        
        form#message-form.chatbox__message-form(method = "post", autocomplete="off")
          input#message-box(type="text", placeholder="type message...")
          input(type="submit", value="➤ Send")
        
        script(src="/javascripts/chatbox.js")