extends defaultUser

block append vars
  - var title = "Profile";
  - styles.push("user/profile")
  //- - var pathDepth = 2;
  //- - var pathDepth = (viewType === 'own') ? 2 : 3;  // Set pathDepth based on viewType

block main
  main.profile
    block profileContent
    //- h1= viewType === 'own' ? "My Profile" : "User Profile"

    //- if viewType === 'own'
    //-   include profileOwn
    //- else if viewType === 'friend'
    //-   include profileFriend
    //- else if viewType === 'nofriend'
    //-   include profileNoFriend

    //- script(src="../javascripts/profile.js")
    