extends defaultUser

block append vars
  - var title = "Profile";
  - styles.push("user/profile")
  - var pathDepth = 2;

block main
  main.main-profile
    h1 Profile
    .profile-sections
      .profile-box 
        // Avatar (Profile Picture)
        div.avatar
          img(src="../images/blank-profile.jpg" alt="Avatar" class="avatar-img")
        
        // Button to change the avatar
        button.profile-btn(type="button" onclick="changeAvatar()") Change Avatar
        
        // Name 
        h2.profile-name Emma Bout   
      .profile-box 
        h2.profile-friend Friend Requests
      .profile-box 
        h2.profile-edit Edit Profile
        form.profile-form
          // First Name, Last Name, Age Fields
          .input-group
            input(type="text" name="first-name" value="Emma")
            input(type="text" name="last-name" value="Bout")
            input(type="number" name="age" value="21")

          // Email Field (Longer)
          .input-group.email
            input(type="email" name="email" value="emma.bout@example.com")

          // Hobbies Field (Longer)
          .input-group.hobbies
            input(type="text" name="hobbies" value="Reading, Hiking, Gaming")

          // Save Button
          button.profile-btn(type="button" onclick="enableEditing()") Save Profile
