extends defaultUser

block append vars
  - var title = "Profile";
  - styles.push("user/profile")
  //- - var pathDepth = 2;
  //- - var pathDepth = (viewType === 'own') ? 2 : 3;  // Set pathDepth based on viewType

block main
  main.profile
    block profileContent

    
    