extends defaultAuth

block append vars
  - var title = "Register"
  - styles.push("auth/logreg")

block main
  main.main-logreg
    div.home-link
      a(href="/") ⬅home
      h2 Register
      div
    form#registerForm
      label(for="firstName") Enter first name:
      input(type="text", id="firstName", placeholder="First Name", required)
      label(for="lastName") Enter Last name:
      input(type="text", id="lastName", placeholder="Last Name", required)
      label(for="email") Enter email:
      input(type="email", id="email", placeholder="Email", required)
      label(for="password") Enter password:
      input(type="password", id="password", placeholder="Password", required)
      label(for="confirmPassword") Enter password again:
      input(type="password", id="confirmPassword", placeholder="Repeat Password", required)
      p#errorMessage.error
      .button-group
        button(type="submit", id="submit-button") Register
        a(href="/auth/login") Login

  script.
    document.getElementById("registerForm").addEventListener("submit", function(event) {
      let password = document.getElementById("password").value;
      let confirmPassword = document.getElementById("confirmPassword").value;
      let errorMessage = document.getElementById("errorMessage");
      
      if (password !== confirmPassword) {
        event.preventDefault();
        errorMessage.textContent = "Passwords do not match!";
      } else {
        errorMessage.textContent = "";
      }
    });
